
#carteles-intro {
    display: flex;
    justify-content: center;
    text-align: center;
}

#carteles-intro p {
    max-width: 800px;
    margin: 0 auto;
}

/*What what*/
.award-poster {
    padding: 2rem 0;
}

.award-poster:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0, .75);
}

.award-info {
    text-align: center;
    margin-bottom: 2rem;
}

.award-info h2 {
    margin-bottom: .5rem;
}

.award-meta {
    opacity: .7;
    font-style: italic;
}

.award-grid {
    display: grid;
    align-items: center;
}

@media (min-width: 992px) {
    .award-grid {
        grid-template-columns: 2fr 1fr;
    }
}

.poster-image {
    display: flex;
    justify-content: center;
}

.poster-image img {
    width: 100%;
    height: auto;
    max-width: 400px;
    border-radius: 15px;
    display: block;
}

.poster-image picture {
    width: 100%;
    max-width: 400px;
    display: block;
}

.award-proof {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.award-proof img {
    width: 100%;
    height: auto;
    max-width: 250px;
    border-radius: 15px;
    opacity: .95;
    transition: .3s ease;
}

.award-proof picture {
    width: 100%;
    max-width: 250px;
    display: block;
}

.award-proof img:hover {
    transform: scale(1.02);
}

@media (min-width: 992px) {
    .award-proof {
        justify-content: flex-start;
    }
}
