
#ilustracion-hero {
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 70vh;
    background-image: url('../assets/images/fondomapunav.png');
    background-image: -webkit-image-set(
        url("../assets/images/fondomapunav.avif") type("image/avif") 1x,
        url("../assets/images/fondomapunav.webp") type("image/webp") 1x,
        url("../assets/images/fondomapunav.png") type("image/png") 1x
    );
    background-image: image-set(
        url("../assets/images/fondomapunav.avif") type("image/avif") 1x,
        url("../assets/images/fondomapunav.webp") type("image/webp") 1x,
        url("../assets/images/fondomapunav.png") type("image/png") 1x
    );
    background-size: content;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
}

#ilustracion-hero .container {
    text-align: center;
}

#ilustracion-hero h1 {
    margin-top: 300px;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
}

#ilustracion-hero h3 {
    font-style: italic;
    font-weight: 100;
    font-size: 20px;
}

#ilustracion-hero p {
    margin-top: 30px;
}


#ilustracion-intro {
    display: flex;
    justify-content: center;
    text-align: center;
}

#ilustracion-intro p {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.masonry-gallery {

    column-gap: 1rem;

}

@media (min-width: 180px) {

    .masonry-gallery {

        columns: 1;

    }

}

@media (min-width: 768px) {

    .masonry-gallery {

        columns: 2;

    }

}

@media (min-width: 992px) {

    .masonry-gallery {

        columns: 3;

    }

}

.masonry-gallery img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    display: block;
    transition: .3s ease;
}

.masonry-gallery picture {
    margin-bottom: 1rem;
    break-inside: avoid;
    display: block;
}

.masonry-gallery img:hover {

    transform: scale(1.02);

    opacity: .9;

}

/*Swiper*/
/* ==========================
   ILUSTRACION SWIPER
========================== */


.ilustracionSwiper {
    width:100%;
    padding:1rem 0 3rem;
}


.ilustracionSwiper .swiper-slide {
    transition:.35s;
}


.ilustracionSwiper img {
    width:100%;
    height:auto;
    display:block;
    border-radius:15px;
    object-fit:contain;
}

.ilustracionSwiper picture {
    width:100%;
    display:block;
}

@media (max-width:767px){
    .desktop-gallery{
        display:none;
    }
}

@media (min-width:768px){
    .mobile-gallery{
        display:none;
    }
}
