
#prevencion-intro,
#prevencion-context {
    display: flex;
    justify-content: center;
    text-align: center;
}

/*Reciclado*/
/*INTRO*/

.intro-grid {
    display: grid;
    gap: 3rem;
}

@media (min-width: 992px) {

    .intro-grid {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

}

.intro-image img {
    margin-top: 30px;
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.intro-image picture {
    width: 100%;
    display: block;
}

.intro-text h2 {
    text-align: center;
}

/* ==========================
   RETOS DEL PROYECTO
========================== */


.reto-number {
    position: absolute;
    top: 1rem;
    left: 1.2rem;
    font-weight: 900;
    color: var(--color-emphasis-on-light);
    line-height: 1;
    font-size: 1.3rem;
    letter-spacing: 2px;
    opacity: .8;
}

.retos-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: 3rem;
}


.reto-card {
    margin-bottom: 1rem;
    padding: 1.5rem;
    background: var(--surface-light-glass);
    backdrop-filter: var(--blur-glass);
    border: 1px solid var(--color-line-glass);
    border-radius: var(--radius-card);
    text-align: center;
    transition: transform .25s ease,
                background .25s ease;
    box-shadow: var(--shadow-card);
}


.reto-card:hover {
    transform: translateY(-5px);
    background: var(--surface-light-glass-hover);
}


.reto-card h3 {
    margin-top: 1.7rem;
    margin-bottom: .8rem;
    font-weight: bolder;
    color: var(--color-emphasis-on-light);
}


.reto-card p {
    margin-bottom: 0;
}


@media (min-width: 768px) {
    .retos-grid {
        grid-template-columns: repeat(3,1fr);
    }
}


#retos h2 {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}


/*IDK*/
.desktop-gallery {
    display: none;
}

.mobile-gallery {

    display: block;

}

@media (min-width: 992px) {

    .desktop-gallery {

        display: block;

    }

    .mobile-gallery {

        display: none;

    }

}

/*Lo demás*/

.prevencion-grid {

    column-count: 4;
    column-gap: 1rem;

}

.prevencion-grid img {

    width: 100%;
    height: auto;
    margin-bottom: 1rem;

    border-radius: 15px;

    display: block;

}

/* Prevención Swiper */

.prevencion-grid picture {
    margin-bottom: 1rem;
    break-inside: avoid;
    display: block;
}

.prevencionSwiper {
    width: 100%;
    padding: 1rem 0 3rem;
}


.prevencionSwiper .swiper-slide {
    transition: .35s;
}


.prevencionSwiper img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
    object-fit: contain;
}

.prevencionSwiper picture {
    width: 100%;
    display: block;
}

.prevencionSwiper .swiper-slide img {
    background: #f4f1ea;
    transform: scale(.88);
    opacity: .9;
}


.prevencionSwiper .swiper-slide-active img {
    transform: scale(1);
    opacity: 1;
}
